* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 12px;
}

.nav a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  padding: 5px 7px;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  text-decoration: none;
  margin-right: 7px;
}

.nav a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

.nav img {
  height: 25px;
  width: 25px;
  margin: auto 7px;
  cursor: pointer;
  vertical-align: middle;
  color: #5f6368;
}

.nav img:hover {
  background-color: gray;
  opacity: 0.8;
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 15px;
}

.nav button {
  border: 1px solid transparent;
  font-weight: 500;
  outline: none;
  background-color: #1a73e8;
  color: #fff;
  padding: 9px 23px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
  font-size: 14px;
}

.nav button:hover {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

/* Search area - main CSS Codes */
.main {
  flex: 1;
  margin-top: 30px;
}

.main .logo {
  display: flex;
  margin: 180px auto 0 auto;
}

.search {
  width: 580px;
  margin: 30px auto 0 auto;
  text-align: center;
  position: relative;
}

.search .search-input {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px 13px 13px 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}

.search .search-input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05);
}

.search .search-icon {
  width: 18px;
  opacity: 0.4;
  position: absolute;
  top: 15px;
  left: 15px;
  height: 18px;
}

.search .search-klavye {
  width: 18px;
  position: absolute;
  top: 17px;
  right: 60px;
}

.search .search-camera {
  width: 20px;
  position: absolute;
  top: 13px;
  right: 24px;
}

.search .search-button {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #3c4043;
  font-size: 14px;
  border: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 28px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f8f9fa;
  height: 36px;
}

.search .search-button:hover {
  border: 1px solid #dadce0;
  background-color: #f8f9fa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Footer CSS codes */

.footer {
  background-color: #f2f2f2;
  color: #70757a;
  box-sizing: border-box;
}

.footer h4 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  font-size: small;
}

.footer a {
  color: #70757a;
  display: inline-block;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  padding: 5px 20px 0 20px;
}

.links-1 {
  justify-content: flex-start;
  order: 1;
  display: flex;
  flex-wrap: wrap;
}

.middle {
  order: 2;
  margin-left: -150px;
}

.links-2 {
  justify-content: flex-end;
  order: 3;
}